.home {
  height: var(--100vh);
}

.home__wrapper {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.home__title {
    font-size: 45rem;
    font-family: $font-formulaBlack;
    text-align: center;
    position: absolute;
    margin-top: 10rem;
}
