html {
  color: $color-black;
  background: $color-white;
  font-family: $font-Calibre;
  overflow: hidden;
  position: fixed;
  font-size: calc(100vw / 1920 * 10);
  height: var(--100vh);
  left: 0;
  top: 0;
  width: 100%;

  @include media('<=phone') {
    font-size: calc(100vw / 375 * 10);
  }
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.app {
  position: relative;
}

.home {
  visibility: hidden;

  .loaded & {
    visibility: visible;
  }
}
